.reg{
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 3rem auto 0;
  padding: 2rem;

  &__icon {
    font-size: 5rem;
  }

  &__form {
    &__error {
      background: red;
      color: white;
      font-weight: bold;
      padding: 10px 0 10px 0;
      margin-bottom: 15px;
    }

    &__input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      label {
        font-weight: bold;
      }

      input {
        padding: 5px;
        font-size: 1.2rem;
      }
    }

    &__input-remember {
      display: flex;

      label {
        margin-left: 0.25rem;
      }

      input {
        cursor: pointer;
      }
    }

    &__button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      cursor: pointer;
    }
  }

  &__link {
    font-size: 0.8rem;
    text-align: start;
    text-decoration: none;
    color: #0000a9;
  }
}