.user {
  &__account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto 2rem;

    @include media-min(720px) {
      flex-direction: row;
    }

    &__content-wrapper {
      width: 100%;
      flex: 1;

      &.cta {
        @include media-min(720px) {
          flex: 0;
        }
      }

      &__title {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
      }

      &__amount {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;

        &-description {
          margin: 0;
        }
      }

      &__transaction-button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;

        @include media-min(720px) {
          width: 200px;
        }
      }
    }
  }
}